.header {
    width: 100%;
    height: 10rem;
    background-image: url(../images/logo-plain-white.svg), url(../images/logo.svg),
    linear-gradient(50deg, #63abaa, #bddcdb 41%, #fff);
    background-repeat: no-repeat, no-repeat;
    background-position:  left, left ;



    @media (max-width: 880px) {
        background-color: var(--mobile-background-color);
        background-image:  url(../images/logo.svg);
        background-position:  center ;
        background-size: 50% 50%;
        
    }

}